.logo {
  height: 100%;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.caption {
  text-align: center;
}
.profileImg {
  width: 200px;
  height: 200px !important;
}
.preferred_name {
  color: #555;
  font-size: 3.0em;
  display: inline-block;
}
.preferred_id {
  font-size: 16px;
  color: #aaa;
  display: inline-block;
  line-height: 30px;
}
.status-flag {
  display: inline-block;
  font-size: 16px;
  padding: 0 10px;
  text-transform: uppercase;
  background: #805f7e;
  color: #fff;
  margin-left: 5px;
  position: relative;
  top: -5px;
}
.stack-layer {
  background-color: #333 !important;
  text-align: center;
  height: 200px;
  padding-top: 20px;
}
.stack-service-logo img {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #2C2C2C;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #fff;
    z-index: 1;
    margin: 5px 15px;
}
.stack-service-name-under{
  color: #FFFFFF;
  font-size: 12px;
  font-weight: 600;
  line-height: 15px;
  padding: 3px 0;
}
.function-name-under {
  color: #969696 !important;
  font-size: 8pt;
  font-weight: 400;
  border-radius: 3px;
  padding: 0 3px;
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 5px;
}
.last-li-in-right {
  position: relative;
  float: right;
  top: 15px;
}
.last-li-in-right-button{
}
.image-tag-container img{
  height: 30px;
  width: 30px;
  margin-right: 8px;
  margin-top: 3px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #E6E6E6;
}
.service-name-trending{
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  color: black;
  margin: 10px 0;
}
.qulification-header {
  border: solid 1px #EFEFEF;
  height: 100px;
  text-align: center;
  padding-top: 40px;
  font-size: 21px;
  cursor: pointer;
}
.qulification-header:hover {
  color: #428bca;
}
.evaluation-row {
  margin: 10px 0;
  border-radius: 10px;
  padding: 30px 0;
}
.evaluation-row:hover {
  border: solid 1px #E9E7E7;
  border-radius: 10px;
}
.assigned-project-name {
  /*font-size: 25px;*/
  /*margin: 20px;*/
}
.ul-row {
  padding: 10px 0px;
  margin-left: 10px;
}
